<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Bohemian Switzerland</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif"/>
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
<!-- loader  -->
<div class="loader_bg">
    <div class="loader"><img src="images/loading.gif" alt="#"/></div>
</div>
<!-- end loader -->
<!-- header -->
<header>
    <!-- header inner -->
    <div class="header">
        <div class="header_white_section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header_information">
                            <ul>
                                <li><img src="images/1.png" alt="#"/> Czechia</li>
                                <li><img src="images/2.png" alt="#"/> +420 412 354 050</li>
                                                 <li><img src="images/3.png" alt="#"/>Made by Students and used for Teaching Only</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo"><a href="index.html"><img src="images/b5-logo.png" alt="#"></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <div class="menu-area">
                        <div class="limit-box">
                            <nav class="main-menu">
                                <ul class="menu-area-main">
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a class="drop" href="#">Services ↓</a>
                                        <ul>
                                            <li><a href="accom.html">Accomodation</a></li>
                                            <li><a href="res.html">Resturants</a></li>

                                        </ul>
                                    </li>

                                    <li><a href="attraction.html">Atractions</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header inner -->
</header>
<!-- end header -->
<!-- Accomo -->
<div id="travel" class="traveling">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="titlepage">
                    <h2>Accomodation <Available></Available></h2>
                    <span>
                        Stay close to nature. Some best accomodations available
                    </span>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-6 col-lg-3 col-md-6 col-sm-12">
                <div class="traveling-box">
                    <i><img src="images/Acco4.png" alt="icon"/></i>
                    <h3>Hotel KORTUS</h3>
                    <p> Hotel KORTUS in Jetřichovice is 19 km from the Saxon Switzerland National Park and offers accommodation with a restaurant, free private parking, a garden and a terrace. </p>
                    <div class="read-more">
                        <a href="https://www.booking.com/hotel/cz/kortus-jetrichovice.en-gb.html?aid=356938&label=metagha-link-MRCZ-hotel-6335944_dev-desktop_los-1_bw-6_dow-Monday_defdate-1_room-0_gstadt-2_rateid-0_aud-7177173165_gacid-6623578704_mcid-10_ppa-0_clrid-0_ad-1_gstkid-0_checkin-20221128__lp-1003803_r-2266166321257227893&sid=c684a35922dd0c6b65326d2c640c400a&all_sr_blocks=633594402_358793120_2_1_0;checkin=2022-11-28;checkout=2022-11-29;dest_id=-546580;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=1;highlighted_blocks=633594402_358793120_2_1_0;hpos=1;matching_block_id=633594402_358793120_2_1_0;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;sr_pri_blocks=633594402_358793120_2_1_0__9990;srepoch=1669120657;srpvid=b97158c8c1cd0065;type=total;ucfs=1&#hotelTmpl">Check Availability</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-3 col-md-6 col-sm-12">
                <div class="traveling-box">
                    <i><img src="images/Acco1.png" alt="icon"/></i>
                    <h3>Lesní Chata Tokáň</h3>
                    <p>Restaurant and cottage in Tokáni OPEN throughout 2022 </p>
                    <div class="read-more">
                        <a href="https://www.booking.com/hotel/cz/chata-tokan-jetrichovice.en-gb.html?aid=356938&label=metagha-link-MRCZ-hotel-6032863_dev-desktop_los-1_bw-6_dow-Monday_defdate-1_room-0_gstadt-2_rateid-0_aud-7177173165_gacid-6623578704_mcid-10_ppa-0_clrid-0_ad-1_gstkid-0_checkin-20221128__lp-1003803_r-9280877151196497844&sid=c684a35922dd0c6b65326d2c640c400a&all_sr_blocks=603286304_236700150_2_0_0;checkin=2022-11-28;checkout=2022-11-29;dest_id=-546580;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=1;highlighted_blocks=603286304_236700150_2_0_0;hpos=1;matching_block_id=603286304_236700150_2_0_0;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;sr_pri_blocks=603286304_236700150_2_0_0__4620;srepoch=1669120162;srpvid=680557d08d6a00b8;type=total;ucfs=1&#hotelTmpl ">Check Availability</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end Accomo -->
<!-- footer -->
<footer>
    <div id="contact" class="footer">
        <div class="container">

            <div class="copyright">
                <div class="container">
                    <p>Copyright 2022 made by Group 6 CZU</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/plugin.js"></script>
<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>
<!-- javascript -->
<script src="js/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            margin: 10,
            nav: true,
            loop: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
    })
</script>

</body>
</html>
